
.titulo-principal{

    padding-left: 30px;

}

.caja{
    display: flex;
    width: auto;
    position: relative;
    margin: 0 auto;
}

nav{

    position: absolute;
    top: 18px;
    right: 0px;

}

nav ul{

    display: flex;

}
nav li{

    display: inline;
    margin: 0 0 0 20px;
}


nav a {

    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font: 22px;
    text-decoration: none;

}

#banner{
    width: 100%;
}

.Principal{
    background:#CCCCCC;
    padding: 20px;
}

.titulo-centralizado{
    
    text-align: center;

}

p{            
    text-align: center;
}


em strong{
    color: red;
}

#mision{
    font-size: 20px;

}

.Diferenciales{

    background: #FFFFFF;
    padding: 30px;
}
    
.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagendiferenciales{
    width: 50%;
}